$bg-main: rgb(30, 30, 30);
$bg-body: rgb(20, 20, 20);
$bg-section-odd: rgb(40, 40, 40);
$bg-seciton-even: rgb(50, 50, 50);

$color-text: white;
$color-link: #006bb7;
$color-footer: rgb(200, 200, 200);
$color-socialbar-icon:  rgb(200, 10, 10);
$color-socialbar-icon-hover: rgb(200, 50, 50);

html {
    background-color: $bg-main;

    body {
        background-color: $bg-body;
        font-family: "Lato", sans-serif;

        a,
        .btn-link {
            color: $color-link;
        }

        main {
            color: $color-text;

            .img-container {
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                filter: grayscale(50%);
            }

            #img-container-1-nt {
                background-image: url('../img/band/1.JPG');
            }

            #img-container-2-nt {
                background-image: url('../img/band/table/4.JPG');
            }

            section {
                padding: 5px 10% 5px 10%;

                :nth-of-type(odd) {
                    background-color: $bg-section-odd;
                }

                :nth-of-type(even) {
                    background-color: $bg-seciton-even;
                }

                .section-header {
                    text-align: center;
                    font-family: 'RoadRage';
                    font-size: 3em;
                    color: rgb(200, 10, 10);
                }

                .section-content {
                    font-family: 'FaustinaLight';
                }
            }
        }

        article#socialbar {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;

            padding: 10px 0 10px 0;

            background-color: $bg-body;

            i {
                color: $color-socialbar-icon;
                margin-right: 20px;
            }

            i:hover {
                color: $color-socialbar-icon-hover;
            }
        }

        footer {
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: center;

            padding-top: 10px;

            background-color: $bg-body;
            color: $color-footer;
        }
    }
}